@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "DMSans Bold";
        src: url("../public/fonts/DM-Sans/DMSans-Bold.ttf") format("truetype");
        /*font-display: swap;*/
    }
    @font-face {
        font-family: "Poppins Regular";
        src: url("../public/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
        /*font-display: swap;*/
    }
    @font-face {
        font-family: "Poppins Medium";
        src: url("../public/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
        /*font-display: swap;*/
    }
    @font-face {
        font-family: "Poppins SemiBold";
        src: url("../public/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
        /*font-display: swap;*/
    }
    @font-face {
        font-family: "Poppins Bold";
        src: url("../public/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
        /*font-display: swap;*/
    }

    body {
        @apply bg-neutral-8 dark:bg-neutral-1 font-PoppinsRegular;
    }
}

@layer components {
    /* Hamburger */
    .hamburger {
        @apply md:hidden relative flex-shrink-0 w-8 h-8 rounded-full p-2;
    }

    .hamburger-line {
        @apply content-[''] absolute left-1/2 -translate-x-1/2 inline-flex w-3/5 h-[1.5px] rounded-md bg-neutral-4 transition-all duration-300 ease-linear;
    }

    .hamburger::before {
        @apply hamburger-line top-1/3 origin-top-right;
    }

    .hamburger.hamburger--active::before {
        @apply -rotate-45 -mb-0.5;
    }

    .hamburger::after {
        @apply hamburger-line top-2/3 origin-bottom-right;
    }

    .hamburger.hamburger--active::after {
        @apply rotate-45 mt-0.5;
    }


    /* Nav Link */
    .nav__link {
        @apply inline-flex w-full py-4 font-PoppinsSemiBold text-2xl text-neutral-4 cursor-default transition-colors duration-300;
    }

    .nav__link--active {
        @apply text-primary-1 transition-all;
    }
}