@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "DMSans Bold";
        src: url("./assets/fonts/DM-Sans/DMSans-Bold.ttf") format("truetype");
        /*font-display: swap;*/
    }
    @font-face {
        font-family: "Poppins Regular";
        src: url("./assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
        /*font-display: swap;*/
    }
    @font-face {
        font-family: "Poppins Medium";
        src: url("./assets/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
        /*font-display: swap;*/
    }
    @font-face {
        font-family: "Poppins SemiBold";
        src: url("./assets/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
        /*font-display: swap;*/
    }
    @font-face {
        font-family: "Poppins Bold";
        src: url("./assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
        /*font-display: swap;*/
    }

    body {
        @apply bg-neutral-8 dark:bg-neutral-1 font-PoppinsRegular scroll-smooth transition-colors duration-300 ease-linear;
    }

    * {
        @apply transition-colors duration-300 ease-linear;
    }
}

@layer components {
    /* Hamburger */
    .hamburger {
        @apply md:hidden relative flex-shrink-0 w-8 h-8 rounded-full p-2;
    }

    .hamburger-line {
        @apply content-[''] absolute left-1/2 -translate-x-1/2 inline-flex w-3/5 h-[1.5px] rounded-md bg-neutral-4 transition-all duration-300 ease-linear;
    }

    .hamburger::before {
        @apply hamburger-line top-1/3 origin-top-right;
    }

    .hamburger.hamburger--active::before {
        @apply -rotate-45 -mb-0.5;
    }

    .hamburger::after {
        @apply hamburger-line top-2/3 origin-bottom-right;
    }

    .hamburger.hamburger--active::after {
        @apply rotate-45 mt-0.5;
    }

    /* Nav Link */
    .nav__link {
        @apply inline-flex w-full py-4 font-PoppinsSemiBold text-2xl text-neutral-4 cursor-default transition-colors duration-300;
    }

    .nav__link--active {
        @apply text-primary-1 transition-all;
    }

    .dropdown--hide {
        @apply translate-y-5 invisible opacity-0 scale-95 transition-all duration-300 ease-in;
    }

    .dropdown {
        @apply md:absolute md:top-[60px] p-4 rounded-[20px] shadow-dropdown z-50 bg-neutral-8 dark:bg-neutral-2 dropdown--hide;
    }

    .dropdown--show {
        @apply translate-y-0 visible opacity-100;
    }

    .dropdown-link {
        @apply flex gap-x-3 py-3 pr-3 pl-5 text-neutral-4 hover:text-neutral-2 dark:hover:text-neutral-6 text-sm/4 font-DMSansBold transition-all duration-200 ease-in;
    }

    #hero-stay {
        @apply hero-mobile lg:hero-tablet 2xl:hero-laptop;
    }

    #hero-flights {
        @apply bg-[80%] bg-[url('./assets/images/hero/flights.jpg')];
    }

    #hero-car {
        @apply -scale-x-[1] bg-[center_bottom_-2rem] bg-[url('./assets/images/hero/hero-car.jpg')];
    }

    .hero-mobile {
        background-image: url("./assets/images/hero/hero-mobile.jpg");
        transform: scalex(-1);
    }

    .hero-tablet {
        background-image: url("./assets/images/hero/hero-small.png");
        transform: scalex(1);
        background-position: center center;
    }

    .hero-laptop {
        background-image: url("./assets/images/hero/hero-big.png");
    }

    .search__link {
        @apply shrink-0 text-neutral-4 dark:text-neutral-5 font-DMSansBold text-sm/4;
    }

    .search__link--active {
        @apply text-neutral-2 dark:text-neutral-8;
    }

    .search-btn {
        @apply inline-flex lg:mx-0 lg:w-fit py-4 px-6 bg-primary-1 text-neutral-8 font-DMSansBold text-base/4 rounded-full;
    }

    .form__item-wrapper {
        @apply relative mt-4 px-4 py-3.5 border-2 dark:border-neutral-3 rounded-[90px] cursor-text;
    }

    .form__item-input {
        @apply outline-0 border-0 w-full pr-8 bg-transparent text-neutral-4 font-PoppinsRegular text-sm/6;
    }

    .form__item-btn {
        @apply absolute right-2 top-2 bottom-2 flex justify-center items-center aspect-square bg-primary-1 p-1 rounded-full lg:cursor-pointer;
    }

    .modal__wrapper {
        @apply absolute box-content bottom-4 left-4 right-4 md:inset-1/2 md:w-[352px] h-fit md:min-h-[348px] p-6 md:py-10 md:px-24 md:-translate-x-1/2 bg-neutral-8 dark:bg-neutral-1 rounded-2xl transition-transform duration-300 ease-linear;
    }

    .section__title {
        @apply text-neutral-2 dark:text-neutral-8 font-DMSansBold text-[32px]/10 leading-[-0.32px];
    }

    .faq {
        @apply hidden sm:flex justify-center gap-x-3;
    }

    .faq__item {
        @apply py-1.5 px-3 text-neutral-4 font-DMSansBold text-sm/4 rounded-full transition-colors ease-in duration-300;
    }

    .faq__item--active {
        @apply bg-neutral-3 text-neutral-8;
    }

    .spcae-wrapper__x {
        @apply px-8 lg:px-20 2xl:px-40;
    }

    .space-wrapper__left__bottom {
        @apply pl-8 lg:pl-20 2xl:pl-40 pb-16 lg:pb-28 2xl:pb-34;
    }

    .space-wrapper__top {
        @apply -ml-8 lg:-ml-20 2xl:-ml-40;
    }

    .space-wrapper__slider {
        @apply -ml-8 lg:-ml-20 2xl:-ml-40;
    }

    .product-header__icon-wrapper {
        @apply p-2 hover:bg-black border-2 border-neutral-6 hover:border-black dark:border-neutral-3 rounded-full transition-colors duration-300 ease-out lg:cursor-pointer;
    }

    .product-header__icon {
        @apply w-6 h-6 text-neutral-4 group-hover:text-neutral-8 start-2 transition-colors duration-150 ease-in;
    }

    .mobile-box {
        @apply fixed bottom-0 left-0 right-0 flex lg:hidden justify-between gap-x-8 h-[120px] p-8 rounded-t-3xl z-30;
    }

    .gradient-mobile {
        @apply border border-neutral-6 shadow-big;
        background: var(
            --effect-neutral-8-glass,
            linear-gradient(84deg, #fcfcfd 36.52%, rgba(252, 252, 253, 0.83) 98.8%)
        );
    }

    .gradient-mobile--dark {
        @apply border border-neutral-3;
        background: var(--neutrals-2, #23262f);
        box-shadow: 0px 64px 64px -48px rgba(15, 15, 15, 0.08);
    }
}

/* Scroll bar styles */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* * {
    border: 1px solid red;
} */
